<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Vue - bases</title>
	</head>
	<body>
		<div id="app">
			<input type="text" v-model="newQuote" v-on:keypress.enter="addQuote" />
			<br />
			<small>{{newQuote}}</small>
			<hr />
			<ul>
				<li v-for="({quote,author},i) in quotes">
					<p>{{i+1}}. {{quote}}</p>
					<blockquote v-if="author">- {{author}}</blockquote>
				</li>
			</ul>
		</div>
		<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
		<script src="app.js"></script>
	</body>
</html>
